ALTER TABLE profiles ADD COLUMN IF NOT EXISTS kyc_status text DEFAULT 'unverified'; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS kyc_id_number text; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS kyc_id_image text; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS kyc_selfie_image text; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS kyc_full_name text; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS kyc_rejected_reason text;
